@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-accent: #dd704f;
  --color-primary: #53405e;
  --color-secondary: #90314f;
  --color-tertiary: #5b8090;
  --color-quaternary: #f6d0a1;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground-rgb: 255, 255, 255;*/
/*    --background-start-rgb: 0, 0, 0;*/
/*    --background-end-rgb: 0, 0, 0;*/
/*  }*/
/*}*/

.text-primary {
  @apply text-slate-800;
}
.text-secondary {
  @apply text-slate-500;
}
.color-accent {
  color: var(--color-accent);
}
.color-primary {
  color: var(--color-primary);
}
.color-secondary {
  color: var(--color-secondary);
}
.bg-accent {
  background-color: var(--color-accent);
}
